.homeCard {
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

.homeCard:hover {
  box-shadow: var(--shadow);
}

.titleImageContainer {
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
}

.homeCard h2 {
  line-height: 1;
  margin-bottom: 10px;
}

.homeCard img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.homeCard p {
  text-decoration: underline;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  .homeCard img {
    width: 400px;
  }
}
