.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  .home {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  .home {
    grid-template-columns: repeat(4, 1fr);
  }
}
