.shop {
  composes: home from '../home/home.module.css';
}

.loading,
.error {
  grid-column: 1/-1;
  text-align: center;
}

.error {
  composes: error from '../../pages/error-page/error-page.module.css';
}
