.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header a {
  border: 1px solid var(--bg);
  border-radius: 5px;
  padding: 5px;
}

.header a:hover {
  border-color: var(--text-h);
}

.header ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  font-weight: bold;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  .header {
    padding: 20px;
  }

  .header ul {
    gap: 20px;
  }
}
