.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header h1 {
  line-height: 1;
}

.header ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: bold;
}
