.labelText {
  margin-right: 5px;
}

.row {
  display: flex;
  align-items: center;
}

.row input {
  width: 2.5rem;
  height: 4rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.column button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.addToCartBtn {
  display: block;
  width: 100%;
  margin-top: 10px;

  background: var(--bg-cta);
  border-radius: 50px;
  border: none;
  padding: 5px;
  transition: 500ms;
}

.addToCartBtn:hover {
  background: var(--bg-cta-hover);
}
