.cartCard label {
  display: flex;
  align-items: center;
}

.labelText {
  composes: labelText from '../shop-card/shop-card.module.css';
}

.cartCard select {
  width: 5rem;
}

.deleteBtn {
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
}
