.cartCard {
  composes: shopCard from '../shop-card/shop-card.module.css';
}

.cartCard .imageWrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cartCard img {
  max-height: 100%;
}

.cartCard form {
  display: flex;
  flex-direction: column;
}

.cartCard label {
  display: flex;
  align-items: center;
}

.cartCard .labelText {
  margin-right: 5px;
}

.cartCard select {
  width: 5rem;
}

.cartCard .deleteBtn {
  border: none;
  background: none;
  padding: 0;
  text-decoration: underline;
}
